@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

button {
    cursor: pointer;
}

html,
body,
div#root {
    height: 100%;
}
